In [63]:
myAge = 32
print(myAge)

32

In [64]:
myAge = 33
print(myAge)

33

In [65]:
print(myAge/3)

11.0

In [66]:
myAge = myAge + 1
print(myAge)

34

In [67]:
# Challenge 
# 1) Create a variable called "restaurantBill" and set its value to 36.17
# 2) Create a variable called "serviceCharge" and set its value to 0.125
# 3) Print out the amount of tip
restaurantBill = 36.17
serviceCharge = 0.125
print(restaurantBill*serviceCharge)

4.52125

In [68]:
type(33)

int

In [69]:
type(33.6)

float

In [70]:
type('Philipp')

str

In [71]:
type(myAge)

int

In [72]:
type(restaurantBill)

float

In [73]:
myName = 'Philipp'
type(myName)

str

In [74]:
firstPrime = 1
secondPrime = 2
thirdPrime = 3

primeNumbers = [3, 7, 61, 29, 199]
type(primeNumbers)

list

In [75]:
coolPeople = ['Jay Z', 'Ghandi', 'me']
primeAndPeople = ['King Arthur', 17, 11, 'Jennifer Lopez']
type(primeAndPeople)

list

In [76]:
primeNumbers[2]

61

In [77]:
bestPrimeEver = primeNumbers[4]
print(bestPrimeEver)

199

In [78]:
import pandas as pd
data = pd.read_csv('lsd_math_score_data.csv')

In [79]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [80]:
type(data)

pandas.core.frame.DataFrame

In [81]:
onlyMathScores = data['Avg_Math_Test_Score']
print(onlyMathScores)

0    78.93
1    58.20
2    67.47
3    37.47
4    45.65
5    32.92
6    29.97
Name: Avg_Math_Test_Score, dtype: float64

In [82]:
data['Test_Subject'] = 'Jennifer Lopez'

In [83]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

In [84]:
data['High_Score'] = 100

In [85]:
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0         100
1         100
2         100
3         100
4         100
5         100
6         100

In [86]:
# Challenge: Overwrite values in rows for High_Score to equal average score + 100
data['High_Score'] = data['High_Score'] + data['Avg_Math_Test_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0      178.93
1      158.20
2      167.47
3      137.47
4      145.65
5      132.92
6      129.97

In [87]:
# Challenge: Square the values stored inside High_Score
data['High_Score'] = data['High_Score'] ** 2
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score    Test_Subject  \
0                      5     1.17                78.93  Jennifer Lopez
1                     15     2.97                58.20  Jennifer Lopez
2                     30     3.26                67.47  Jennifer Lopez
3                     60     4.69                37.47  Jennifer Lopez
4                    120     5.83                45.65  Jennifer Lopez
5                    240     6.00                32.92  Jennifer Lopez
6                    480     6.41                29.97  Jennifer Lopez

   High_Score
0  32015.9449
1  25027.2400
2  28046.2009
3  18898.0009
4  21213.9225
5  17667.7264
6  16892.2009

In [88]:
type(onlyMathScores)

pandas.core.series.Series

In [89]:
# Challenge: Create a list called columnList. Put 'LSD_ppm' and 'Avg_Math_Test_Score' inside.
# columnList = ['LSD_ppm', 'Avg_Math_Test_Score']
cleanData = data[['LSD_ppm', 'Avg_Math_Test_Score']]
print(cleanData)

   LSD_ppm  Avg_Math_Test_Score
0     1.17                78.93
1     2.97                58.20
2     3.26                67.47
3     4.69                37.47
4     5.83                45.65
5     6.00                32.92
6     6.41                29.97

In [90]:
type(cleanData)

pandas.core.frame.DataFrame

In [91]:
y = data[['Avg_Math_Test_Score']]

In [92]:
type(y)

pandas.core.frame.DataFrame

In [93]:
# Challenge: 1) Create a variable called X
# Set X equal to the values of LSD_ppm
# Make sure X is a dataframe
# 2) print the value of X
# 3) show the type of X
X = data[['LSD_ppm']]
print(X)
type(X)

   LSD_ppm
0     1.17
1     2.97
2     3.26
3     4.69
4     5.83
5     6.00
6     6.41

pandas.core.frame.DataFrame

In [94]:
del data['Test_Subject']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score  High_Score
0                      5     1.17                78.93  32015.9449
1                     15     2.97                58.20  25027.2400
2                     30     3.26                67.47  28046.2009
3                     60     4.69                37.47  18898.0009
4                    120     5.83                45.65  21213.9225
5                    240     6.00                32.92  17667.7264
6                    480     6.41                29.97  16892.2009

In [95]:
# Challenge: Delete High_Score column from data
del data['High_Score']
print(data)

   Time_Delay_in_Minutes  LSD_ppm  Avg_Math_Test_Score
0                      5     1.17                78.93
1                     15     2.97                58.20
2                     30     3.26                67.47
3                     60     4.69                37.47
4                    120     5.83                45.65
5                    240     6.00                32.92
6                    480     6.41                29.97

In [96]:
import life as hitchhikersGuide

In [97]:
type(hitchhikersGuide)

module

In [98]:
hitchhikersGuide.theAnswer

AttributeError: module 'life' has no attribute 'theAnswer'

In [ ]:
# Challenge: 1) import math module 2) print out value of pi 3) print out value of e
import math
math.pi

In [ ]:
math.e

In [ ]:
from life import theAnswer

In [ ]:
myFavouriteNumber = theAnswer
print(myFavouriteNumber)

In [ ]:
theAnswer = theAnswer + 1

In [ ]:
print(theAnswer)

In [ ]:
hitchhikersGuide.theAnswer

In [ ]:
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [ ]:
def get_milk():
    print('Open door')
    print('Walk to the store')
    print('Buy milk on the ground floor')
    print('Return with milk galore')

In [ ]:
get_milk()

In [ ]:
def fill_the_fridge(amount):
    print('Open door')
    print('Walk to the store')
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [ ]:
fill_the_fridge('five')

In [ ]:
fill_the_fridge('one thousand')

In [ ]:
def milk_mission(amount, destination):
    print('Open door')
    print('Walk to the ' + destination)
    print('Buy ' + amount + ' cartons on the ground floor')
    print('Return with milk galore')

In [ ]:
milk_mission('twenty', 'department store')

In [ ]:
def times(a, b):
    # result = a*b
    return a*b

In [ ]:
test = times(3.14, 5.09)
print(test)

In [ ]:
times('Ni',4)

In [ ]:
import this

In [ ]:
hitchhikersGuide.quote_marvin()

In [ ]:
myAge = 'Two Hundred'
type(myAge)

In [ ]:
myAge = 20.53
type(myAge)

In [ ]:
result = hitchhikersGuide.square_root(63.14)
print(result)

In [ ]:
time = data[['Time_Delay_in_Minutes']]
LSD = data[['LSD_ppm']]
score = data[['Avg_Math_Test_Score']]

In [ ]:
%matplotlib inline

plt.title('Tissue concentration of LSD over time', fontsize=17)
plt.xlabel('Time in Minutes', fontsize=14)
plt.ylabel('Tissue LSD ppm', fontsize=14)
plt.text(x=0, y=-0.5, s='Wagner et al. (1968)', fontsize=12)
plt.xticks(fontsize=14)
plt.yticks(fontsize=14)

plt.ylim(1,7)
plt.xlim(0,500)

plt.style.use('classic')

plt.plot(time, LSD, color='#e74c3c', linewidth=3)
plt.show()

In [ ]:
regr = LinearRegression()
regr.fit(LSD, score)
print('Theta1 : ', regr.coef_[0][0])
print('Intercept: ', regr.intercept_[0])
print('R-Square: ', regr.score(LSD, score))
predicted_score = regr.predict(LSD)
predicted_score

In [ ]:
%matplotlib inline

# Challenge: add title 'Arithmetic vs LSD-25'
# Add label on X Axis 'Tissue LSD ppm'
# Add label on Y Axis 'Performance Score'
plt.title('Arithmetic vs LSD-25', fontsize=17)
plt.xlabel('Tissue LSD ppm', fontsize=14)
plt.ylabel('Performance Score', fontsize=14)
plt.ylim(25, 85)
plt.xlim(1, 6.5)
plt.style.use('fivethirtyeight')

plt.scatter(LSD, score, color='blue', s=100, alpha=0.7)
plt.plot(LSD, predicted_score, color='red', linewidth=3)
plt.show()