In [1]:
# importing all the packages I'll need
import os
import pandas as pd
import numpy as np

# Wrangling Covid-19 Vaccination Rate from Our World in Data and Income Classification from World Bank
Raw Data:
- [OWID COVID-19 vaccine doses administered per 100 people](https://ourworldindata.org/grapher/covid-vaccination-doses-per-capita?tab=map&country=Europe~Africa~North+America~South+America~Asia~Oceania~Low+income~High+income~Lower+middle+income~Upper+middle+income)
- [World Bank Income Classification](https://datahelpdesk.worldbank.org/knowledgebase/articles/906519-world-bank-country-and-lending-groups)

Objectives:
1. Load the Covid-19 vaccine rate from OWiD and World Bank income classification
2. Merge the two tables that will be used as the raw data of my analysis
3. Revamp the data to only show the monthly progress of each country's vaccination rate

### Load data

In [2]:
# Load OWiD vaccine rate data
df_vax = pd.read_csv('cvdpc.csv')

# Load World bank income classification data
df_class = pd.ExcelFile('CLASS.xlsx').parse('List of economies').dropna(how='all').copy().reset_index().drop(0)

### Checking the content of the data

In [3]:
def print_summary(title, value):
    print('-' * 80, title, '-' * 80, value, sep='\n')

def summarize_dataframe(frame):
    print_summary('Dataset Summary', frame.describe())
    print_summary('Null Values Count', frame.isnull().sum())

    for col in frame:
        print_summary(f'Unique values in column "{col}"', frame[col].unique())

In [4]:
summarize_dataframe(df_vax)

--------------------------------------------------------------------------------
Dataset Summary
--------------------------------------------------------------------------------
       total_vaccinations_per_hundred
count                    50660.000000
mean                        79.910846
std                         68.151054
min                          0.000000
25%                         14.927500
50%                         67.470000
75%                        132.770000
max                        352.440000
--------------------------------------------------------------------------------
Null Values Count
--------------------------------------------------------------------------------
Entity                               0
Code                              7439
Day                                  0
total_vaccinations_per_hundred       0
dtype: int64
--------------------------------------------------------------------------------
Unique values in column "Entity"
--------------------------------------------------------------------------------
['Afghanistan' 'Africa' 'Albania' 'Algeria' 'Andorra' 'Angola' 'Anguilla'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Asia' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados'
 'Belarus' 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bonaire Sint Eustatius and Saba' 'Bosnia and Herzegovina' 'Botswana'
 'Brazil' 'British Virgin Islands' 'Brunei' 'Bulgaria' 'Burkina Faso'
 'Burundi' 'Cambodia' 'Cameroon' 'Canada' 'Cape Verde' 'Cayman Islands'
 'Central African Republic' 'Chad' 'Chile' 'China' 'Colombia' 'Comoros'
 'Congo' 'Cook Islands' 'Costa Rica' "Cote d'Ivoire" 'Croatia' 'Cuba'
 'Curacao' 'Cyprus' 'Czechia' 'Democratic Republic of Congo' 'Denmark'
 'Djibouti' 'Dominica' 'Dominican Republic' 'Ecuador' 'Egypt'
 'El Salvador' 'England' 'Equatorial Guinea' 'Estonia' 'Eswatini'
 'Ethiopia' 'Europe' 'European Union' 'Faeroe Islands' 'Falkland Islands'
 'Fiji' 'Finland' 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia'
 'Germany' 'Ghana' 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guatemala'
 'Guernsey' 'Guinea' 'Guinea-Bissau' 'Guyana' 'Haiti' 'High income'
 'Honduras' 'Hong Kong' 'Hungary' 'Iceland' 'India' 'Indonesia' 'Iran'
 'Iraq' 'Ireland' 'Isle of Man' 'Israel' 'Italy' 'Jamaica' 'Japan'
 'Jersey' 'Jordan' 'Kazakhstan' 'Kenya' 'Kiribati' 'Kosovo' 'Kuwait'
 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho' 'Liberia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Low income' 'Lower middle income'
 'Luxembourg' 'Macao' 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Mauritania' 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Myanmar' 'Namibia'
 'Nauru' 'Nepal' 'Netherlands' 'New Caledonia' 'New Zealand' 'Nicaragua'
 'Niger' 'Nigeria' 'Niue' 'North America' 'North Macedonia'
 'Northern Cyprus' 'Northern Ireland' 'Norway' 'Oceania' 'Oman' 'Pakistan'
 'Palestine' 'Panama' 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines'
 'Pitcairn' 'Poland' 'Portugal' 'Qatar' 'Romania' 'Russia' 'Rwanda'
 'Saint Helena' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Scotland' 'Senegal' 'Serbia'
 'Seychelles' 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)'
 'Slovakia' 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa'
 'South America' 'South Korea' 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan'
 'Suriname' 'Sweden' 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan'
 'Tanzania' 'Thailand' 'Timor' 'Togo' 'Tokelau' 'Tonga'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States'
 'Upper middle income' 'Uruguay' 'Uzbekistan' 'Vanuatu' 'Venezuela'
 'Vietnam' 'Wales' 'Wallis and Futuna' 'World' 'World excl. China' 'Yemen'
 'Zambia' 'Zimbabwe']
--------------------------------------------------------------------------------
Unique values in column "Code"
--------------------------------------------------------------------------------
['AFG' nan 'ALB' 'DZA' 'AND' 'AGO' 'AIA' 'ATG' 'ARG' 'ARM' 'ABW' 'AUS'
 'AUT' 'AZE' 'BHS' 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN'
 'BOL' 'BES' 'BIH' 'BWA' 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM' 'CMR'
 'CAN' 'CPV' 'CYM' 'CAF' 'TCD' 'CHL' 'CHN' 'COL' 'COM' 'COG' 'COK' 'CRI'
 'CIV' 'HRV' 'CUB' 'CUW' 'CYP' 'CZE' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU'
 'EGY' 'SLV' 'GNQ' 'EST' 'SWZ' 'ETH' 'FRO' 'FLK' 'FJI' 'FIN' 'FRA' 'PYF'
 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB' 'GRC' 'GRL' 'GRD' 'GTM' 'GGY' 'GIN'
 'GNB' 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL' 'IND' 'IDN' 'IRN' 'IRQ' 'IRL'
 'IMN' 'ISR' 'ITA' 'JAM' 'JPN' 'JEY' 'JOR' 'KAZ' 'KEN' 'KIR' 'OWID_KOS'
 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU' 'LUX' 'MAC'
 'MDG' 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MRT' 'MUS' 'MEX' 'MDA' 'MCO' 'MNG'
 'MNE' 'MSR' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL' 'NIC'
 'NER' 'NGA' 'NIU' 'MKD' 'OWID_CYN' 'NOR' 'OMN' 'PAK' 'PSE' 'PAN' 'PNG'
 'PRY' 'PER' 'PHL' 'PCN' 'POL' 'PRT' 'QAT' 'ROU' 'RUS' 'RWA' 'SHN' 'KNA'
 'LCA' 'VCT' 'WSM' 'SMR' 'STP' 'SAU' 'SEN' 'SRB' 'SYC' 'SLE' 'SGP' 'SXM'
 'SVK' 'SVN' 'SLB' 'SOM' 'ZAF' 'KOR' 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE'
 'CHE' 'SYR' 'TWN' 'TJK' 'TZA' 'THA' 'TLS' 'TGO' 'TKL' 'TON' 'TTO' 'TUN'
 'TUR' 'TKM' 'TCA' 'TUV' 'UGA' 'UKR' 'ARE' 'GBR' 'USA' 'URY' 'UZB' 'VUT'
 'VEN' 'VNM' 'WLF' 'OWID_WRL' 'YEM' 'ZMB' 'ZWE']
--------------------------------------------------------------------------------
Unique values in column "Day"
--------------------------------------------------------------------------------
['2021-02-22' '2021-02-28' '2021-03-16' '2021-04-07' '2021-04-22'
 '2021-05-11' '2021-05-20' '2021-05-24' '2021-05-26' '2021-05-27'
 '2021-05-30' '2021-06-02' '2021-06-03' '2021-06-08' '2021-06-14'
 '2021-06-22' '2021-06-27' '2021-06-30' '2021-07-05' '2021-07-07'
 '2021-07-11' '2021-07-14' '2021-07-18' '2021-07-24' '2021-08-20'
 '2021-08-31' '2021-09-30' '2021-11-14' '2021-12-27' '2022-01-09'
 '2022-01-11' '2022-01-13' '2022-01-17' '2022-01-19' '2022-01-24'
 '2022-01-26' '2022-01-27' '2022-01-31' '2022-02-02' '2022-02-07'
 '2022-02-14' '2022-02-20' '2022-02-27' '2022-03-06' '2022-03-17'
 '2022-03-22' '2022-04-04' '2021-01-09' '2021-01-10' '2021-01-11'
 '2021-01-12' '2021-01-13' '2021-01-14' '2021-01-15' '2021-01-16'
 '2021-01-17' '2021-01-18' '2021-01-19' '2021-01-20' '2021-01-21'
 '2021-01-22' '2021-01-23' '2021-01-24' '2021-01-25' '2021-01-26'
 '2021-01-27' '2021-01-28' '2021-01-29' '2021-01-30' '2021-01-31'
 '2021-02-01' '2021-02-02' '2021-02-03' '2021-02-04' '2021-02-05'
 '2021-02-06' '2021-02-07' '2021-02-08' '2021-02-09' '2021-02-10'
 '2021-02-11' '2021-02-12' '2021-02-13' '2021-02-14' '2021-02-15'
 '2021-02-16' '2021-02-17' '2021-02-18' '2021-02-19' '2021-02-20'
 '2021-02-21' '2021-02-23' '2021-02-24' '2021-02-25' '2021-02-26'
 '2021-02-27' '2021-03-01' '2021-03-02' '2021-03-03' '2021-03-04'
 '2021-03-05' '2021-03-06' '2021-03-07' '2021-03-08' '2021-03-09'
 '2021-03-10' '2021-03-11' '2021-03-12' '2021-03-13' '2021-03-14'
 '2021-03-15' '2021-03-17' '2021-03-18' '2021-03-19' '2021-03-20'
 '2021-03-21' '2021-03-22' '2021-03-23' '2021-03-24' '2021-03-25'
 '2021-03-26' '2021-03-27' '2021-03-28' '2021-03-29' '2021-03-30'
 '2021-03-31' '2021-04-01' '2021-04-02' '2021-04-03' '2021-04-04'
 '2021-04-05' '2021-04-06' '2021-04-08' '2021-04-09' '2021-04-10'
 '2021-04-11' '2021-04-12' '2021-04-13' '2021-04-14' '2021-04-15'
 '2021-04-16' '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20'
 '2021-04-21' '2021-04-23' '2021-04-24' '2021-04-25' '2021-04-26'
 '2021-04-27' '2021-04-28' '2021-04-29' '2021-04-30' '2021-05-01'
 '2021-05-02' '2021-05-03' '2021-05-04' '2021-05-05' '2021-05-06'
 '2021-05-07' '2021-05-08' '2021-05-09' '2021-05-10' '2021-05-12'
 '2021-05-13' '2021-05-14' '2021-05-15' '2021-05-16' '2021-05-17'
 '2021-05-18' '2021-05-19' '2021-05-21' '2021-05-22' '2021-05-23'
 '2021-05-25' '2021-05-28' '2021-05-29' '2021-05-31' '2021-06-01'
 '2021-06-04' '2021-06-05' '2021-06-06' '2021-06-07' '2021-06-09'
 '2021-06-10' '2021-06-11' '2021-06-12' '2021-06-13' '2021-06-15'
 '2021-06-16' '2021-06-17' '2021-06-18' '2021-06-19' '2021-06-20'
 '2021-06-21' '2021-06-23' '2021-06-24' '2021-06-25' '2021-06-26'
 '2021-06-28' '2021-06-29' '2021-07-01' '2021-07-02' '2021-07-03'
 '2021-07-04' '2021-07-06' '2021-07-08' '2021-07-09' '2021-07-10'
 '2021-07-12' '2021-07-13' '2021-07-15' '2021-07-16' '2021-07-17'
 '2021-07-19' '2021-07-20' '2021-07-21' '2021-07-22' '2021-07-23'
 '2021-07-25' '2021-07-26' '2021-07-27' '2021-07-28' '2021-07-29'
 '2021-07-30' '2021-07-31' '2021-08-01' '2021-08-02' '2021-08-03'
 '2021-08-04' '2021-08-05' '2021-08-06' '2021-08-07' '2021-08-08'
 '2021-08-09' '2021-08-10' '2021-08-11' '2021-08-12' '2021-08-13'
 '2021-08-14' '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-18'
 '2021-08-19' '2021-08-21' '2021-08-22' '2021-08-23' '2021-08-24'
 '2021-08-25' '2021-08-26' '2021-08-27' '2021-08-28' '2021-08-29'
 '2021-08-30' '2021-09-01' '2021-09-02' '2021-09-03' '2021-09-04'
 '2021-09-05' '2021-09-06' '2021-09-07' '2021-09-08' '2021-09-09'
 '2021-09-10' '2021-09-11' '2021-09-12' '2021-09-13' '2021-09-14'
 '2021-09-15' '2021-09-16' '2021-09-17' '2021-09-18' '2021-09-19'
 '2021-09-20' '2021-09-21' '2021-09-22' '2021-09-23' '2021-09-24'
 '2021-09-25' '2021-09-26' '2021-09-27' '2021-09-28' '2021-09-29'
 '2021-10-01' '2021-10-02' '2021-10-03' '2021-10-04' '2021-10-05'
 '2021-10-06' '2021-10-07' '2021-10-08' '2021-10-09' '2021-10-10'
 '2021-10-11' '2021-10-12' '2021-10-13' '2021-10-14' '2021-10-15'
 '2021-10-16' '2021-10-17' '2021-10-18' '2021-10-19' '2021-10-20'
 '2021-10-21' '2021-10-22' '2021-10-23' '2021-10-24' '2021-10-25'
 '2021-10-26' '2021-10-27' '2021-10-28' '2021-10-29' '2021-10-30'
 '2021-10-31' '2021-11-01' '2021-11-02' '2021-11-03' '2021-11-04'
 '2021-11-05' '2021-11-06' '2021-11-07' '2021-11-08' '2021-11-09'
 '2021-11-10' '2021-11-11' '2021-11-12' '2021-11-13' '2021-11-15'
 '2021-11-16' '2021-11-17' '2021-11-18' '2021-11-19' '2021-11-20'
 '2021-11-21' '2021-11-22' '2021-11-23' '2021-11-24' '2021-11-25'
 '2021-11-26' '2021-11-27' '2021-11-28' '2021-11-29' '2021-11-30'
 '2021-12-01' '2021-12-02' '2021-12-03' '2021-12-04' '2021-12-05'
 '2021-12-06' '2021-12-07' '2021-12-08' '2021-12-09' '2021-12-10'
 '2021-12-11' '2021-12-12' '2021-12-13' '2021-12-14' '2021-12-15'
 '2021-12-16' '2021-12-17' '2021-12-18' '2021-12-19' '2021-12-20'
 '2021-12-21' '2021-12-22' '2021-12-23' '2021-12-24' '2021-12-25'
 '2021-12-26' '2021-12-28' '2021-12-29' '2021-12-30' '2021-12-31'
 '2022-01-01' '2022-01-02' '2022-01-03' '2022-01-04' '2022-01-05'
 '2022-01-06' '2022-01-07' '2022-01-08' '2022-01-10' '2022-01-12'
 '2022-01-14' '2022-01-15' '2022-01-16' '2022-01-18' '2022-01-20'
 '2022-01-21' '2022-01-22' '2022-01-23' '2022-01-25' '2022-01-28'
 '2022-01-29' '2022-01-30' '2022-02-01' '2022-02-03' '2022-02-04'
 '2022-02-05' '2022-02-06' '2022-02-08' '2022-02-09' '2022-02-10'
 '2022-02-11' '2022-02-12' '2022-02-13' '2022-02-15' '2022-02-16'
 '2022-02-17' '2022-02-18' '2022-02-19' '2022-02-21' '2022-02-22'
 '2022-02-23' '2022-02-24' '2022-02-25' '2022-02-26' '2022-02-28'
 '2022-03-01' '2022-03-02' '2022-03-03' '2022-03-04' '2022-03-05'
 '2022-03-07' '2022-03-08' '2022-03-09' '2022-03-10' '2022-03-11'
 '2022-03-12' '2022-03-13' '2022-03-14' '2022-03-15' '2022-03-16'
 '2022-03-18' '2022-03-19' '2022-03-20' '2022-03-21' '2022-03-23'
 '2022-03-24' '2022-03-25' '2022-03-26' '2022-03-27' '2022-03-28'
 '2022-03-29' '2022-03-30' '2022-03-31' '2022-04-01' '2022-04-02'
 '2022-04-03' '2022-04-05' '2022-04-06' '2022-04-07' '2022-04-08'
 '2022-04-09' '2022-04-10' '2020-12-29' '2020-12-30' '2020-12-31'
 '2021-01-01' '2021-01-02' '2021-01-03' '2021-01-04' '2021-01-05'
 '2021-01-06' '2021-01-07' '2021-01-08' '2020-12-15' '2020-12-16'
 '2020-12-17' '2020-12-18' '2020-12-19' '2020-12-20' '2020-12-21'
 '2020-12-22' '2020-12-23' '2020-12-24' '2020-12-25' '2020-12-26'
 '2020-12-27' '2020-12-28' '2020-12-14' '2020-12-08' '2020-12-11'
 '2020-12-02' '2020-12-03' '2020-12-04' '2020-12-05' '2020-12-06'
 '2020-12-07' '2020-12-09' '2020-12-10' '2020-12-12' '2020-12-13']
--------------------------------------------------------------------------------
Unique values in column "total_vaccinations_per_hundred"
--------------------------------------------------------------------------------
[0.000e+00 2.000e-02 1.400e-01 ... 6.424e+01 6.498e+01 6.550e+01]

In [5]:
summarize_dataframe(df_class)

--------------------------------------------------------------------------------
Dataset Summary
--------------------------------------------------------------------------------
            index
count  263.000000
mean   132.174905
std     76.316735
min      1.000000
25%     66.500000
50%    132.000000
75%    197.500000
max    264.000000
--------------------------------------------------------------------------------
Null Values Count
--------------------------------------------------------------------------------
index                    0
Economy                  0
Code                     0
Region                  46
Income group            47
Lending category       119
Other (EMU or HIPC)    205
dtype: int64
--------------------------------------------------------------------------------
Unique values in column "index"
--------------------------------------------------------------------------------
[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162
 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180
 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198
 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216
 217 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 254 255 256 257 258 259 260 261 262 263 264]
--------------------------------------------------------------------------------
Unique values in column "Economy"
--------------------------------------------------------------------------------
['Afghanistan' 'Angola' 'Albania' 'Andorra' 'United Arab Emirates'
 'Argentina' 'Armenia' 'American Samoa' 'Antigua and Barbuda' 'Australia'
 'Austria' 'Azerbaijan' 'Burundi' 'Belgium' 'Benin' 'Burkina Faso'
 'Bangladesh' 'Bulgaria' 'Bahrain' 'Bahamas, The' 'Bosnia and Herzegovina'
 'Belarus' 'Belize' 'Bermuda' 'Bolivia' 'Brazil' 'Barbados'
 'Brunei Darussalam' 'Bhutan' 'Botswana' 'Central African Republic'
 'Canada' 'Switzerland' 'Channel Islands' 'Chile' 'China' "Côte d'Ivoire"
 'Cameroon' 'Congo, Dem. Rep.' 'Congo, Rep.' 'Colombia' 'Comoros'
 'Cabo Verde' 'Costa Rica' 'Cuba' 'Curaçao' 'Cayman Islands' 'Cyprus'
 'Czech Republic' 'Germany' 'Djibouti' 'Dominica' 'Denmark'
 'Dominican Republic' 'Algeria' 'Ecuador' 'Egypt, Arab Rep.' 'Eritrea'
 'Spain' 'Estonia' 'Ethiopia' 'Finland' 'Fiji' 'France' 'Faroe Islands'
 'Micronesia, Fed. Sts.' 'Gabon' 'United Kingdom' 'Georgia' 'Ghana'
 'Gibraltar' 'Guinea' 'Gambia, The' 'Guinea-Bissau' 'Equatorial Guinea'
 'Greece' 'Grenada' 'Greenland' 'Guatemala' 'Guam' 'Guyana'
 'Hong Kong SAR, China' 'Honduras' 'Croatia' 'Haiti' 'Hungary' 'Indonesia'
 'Isle of Man' 'India' 'Ireland' 'Iran, Islamic Rep.' 'Iraq' 'Iceland'
 'Israel' 'Italy' 'Jamaica' 'Jordan' 'Japan' 'Kazakhstan' 'Kenya'
 'Kyrgyz Republic' 'Cambodia' 'Kiribati' 'St. Kitts and Nevis'
 'Korea, Rep.' 'Kuwait' 'Lao PDR' 'Lebanon' 'Liberia' 'Libya' 'St. Lucia'
 'Liechtenstein' 'Sri Lanka' 'Lesotho' 'Lithuania' 'Luxembourg' 'Latvia'
 'Macao SAR, China' 'St. Martin (French part)' 'Morocco' 'Monaco'
 'Moldova' 'Madagascar' 'Maldives' 'Mexico' 'Marshall Islands'
 'North Macedonia' 'Mali' 'Malta' 'Myanmar' 'Montenegro' 'Mongolia'
 'Northern Mariana Islands' 'Mozambique' 'Mauritania' 'Mauritius' 'Malawi'
 'Malaysia' 'Namibia' 'New Caledonia' 'Niger' 'Nigeria' 'Nicaragua'
 'Netherlands' 'Norway' 'Nepal' 'Nauru' 'New Zealand' 'Oman' 'Pakistan'
 'Panama' 'Peru' 'Philippines' 'Palau' 'Papua New Guinea' 'Poland'
 'Puerto Rico' "Korea, Dem. People's Rep." 'Portugal' 'Paraguay'
 'West Bank and Gaza' 'French Polynesia' 'Qatar' 'Romania'
 'Russian Federation' 'Rwanda' 'Saudi Arabia' 'Sudan' 'Senegal'
 'Singapore' 'Solomon Islands' 'Sierra Leone' 'El Salvador' 'San Marino'
 'Somalia' 'Serbia' 'South Sudan' 'São Tomé and Principe' 'Suriname'
 'Slovak Republic' 'Slovenia' 'Sweden' 'Eswatini'
 'Sint Maarten (Dutch part)' 'Seychelles' 'Syrian Arab Republic'
 'Turks and Caicos Islands' 'Chad' 'Togo' 'Thailand' 'Tajikistan'
 'Turkmenistan' 'Timor-Leste' 'Tonga' 'Trinidad and Tobago' 'Tunisia'
 'Turkey' 'Tuvalu' 'Taiwan, China' 'Tanzania' 'Uganda' 'Ukraine' 'Uruguay'
 'United States' 'Uzbekistan' 'St. Vincent and the Grenadines'
 'Venezuela, RB' 'British Virgin Islands' 'Virgin Islands (U.S.)'
 'Vietnam' 'Vanuatu' 'Samoa' 'Kosovo' 'Yemen, Rep.' 'South Africa'
 'Zambia' 'Zimbabwe' 'Arab World' 'Caribbean small states'
 'Central Europe and the Baltics' 'Early-demographic dividend'
 'East Asia & Pacific' 'East Asia & Pacific (excluding high income)'
 'East Asia & Pacific (IDA & IBRD)' 'Euro area' 'Europe & Central Asia'
 'Europe & Central Asia (excluding high income)'
 'Europe & Central Asia (IDA & IBRD)' 'European Union'
 'Fragile and conflict affected situations'
 'Heavily indebted poor countries (HIPC)' 'High income' 'IBRD only'
 'IDA & IBRD total' 'IDA blend' 'IDA only' 'IDA total'
 'Late-demographic dividend' 'Latin America & Caribbean'
 'Latin America & Caribbean (excluding high income)'
 'Latin America & Caribbean (IDA & IBRD)'
 'Least developed countries: UN classification' 'Low & middle income'
 'Low income' 'Lower middle income' 'Middle East & North Africa'
 'Middle East & North Africa (excluding high income)'
 'Middle East & North Africa (IDA & IBRD)' 'Middle income' 'North America'
 'OECD members' 'Other small states' 'Pacific island small states'
 'Post-demographic dividend' 'Pre-demographic dividend' 'Small states'
 'South Asia' 'South Asia (IDA & IBRD)' 'Sub-Saharan Africa'
 'Sub-Saharan Africa (excluding high income)'
 'Sub-Saharan Africa (IDA & IBRD)' 'Upper middle income' 'World']
--------------------------------------------------------------------------------
Unique values in column "Code"
--------------------------------------------------------------------------------
['AFG' 'AGO' 'ALB' 'AND' 'ARE' 'ARG' 'ARM' 'ASM' 'ATG' 'AUS' 'AUT' 'AZE'
 'BDI' 'BEL' 'BEN' 'BFA' 'BGD' 'BGR' 'BHR' 'BHS' 'BIH' 'BLR' 'BLZ' 'BMU'
 'BOL' 'BRA' 'BRB' 'BRN' 'BTN' 'BWA' 'CAF' 'CAN' 'CHE' 'CHI' 'CHL' 'CHN'
 'CIV' 'CMR' 'COD' 'COG' 'COL' 'COM' 'CPV' 'CRI' 'CUB' 'CUW' 'CYM' 'CYP'
 'CZE' 'DEU' 'DJI' 'DMA' 'DNK' 'DOM' 'DZA' 'ECU' 'EGY' 'ERI' 'ESP' 'EST'
 'ETH' 'FIN' 'FJI' 'FRA' 'FRO' 'FSM' 'GAB' 'GBR' 'GEO' 'GHA' 'GIB' 'GIN'
 'GMB' 'GNB' 'GNQ' 'GRC' 'GRD' 'GRL' 'GTM' 'GUM' 'GUY' 'HKG' 'HND' 'HRV'
 'HTI' 'HUN' 'IDN' 'IMN' 'IND' 'IRL' 'IRN' 'IRQ' 'ISL' 'ISR' 'ITA' 'JAM'
 'JOR' 'JPN' 'KAZ' 'KEN' 'KGZ' 'KHM' 'KIR' 'KNA' 'KOR' 'KWT' 'LAO' 'LBN'
 'LBR' 'LBY' 'LCA' 'LIE' 'LKA' 'LSO' 'LTU' 'LUX' 'LVA' 'MAC' 'MAF' 'MAR'
 'MCO' 'MDA' 'MDG' 'MDV' 'MEX' 'MHL' 'MKD' 'MLI' 'MLT' 'MMR' 'MNE' 'MNG'
 'MNP' 'MOZ' 'MRT' 'MUS' 'MWI' 'MYS' 'NAM' 'NCL' 'NER' 'NGA' 'NIC' 'NLD'
 'NOR' 'NPL' 'NRU' 'NZL' 'OMN' 'PAK' 'PAN' 'PER' 'PHL' 'PLW' 'PNG' 'POL'
 'PRI' 'PRK' 'PRT' 'PRY' 'PSE' 'PYF' 'QAT' 'ROU' 'RUS' 'RWA' 'SAU' 'SDN'
 'SEN' 'SGP' 'SLB' 'SLE' 'SLV' 'SMR' 'SOM' 'SRB' 'SSD' 'STP' 'SUR' 'SVK'
 'SVN' 'SWE' 'SWZ' 'SXM' 'SYC' 'SYR' 'TCA' 'TCD' 'TGO' 'THA' 'TJK' 'TKM'
 'TLS' 'TON' 'TTO' 'TUN' 'TUR' 'TUV' 'TWN' 'TZA' 'UGA' 'UKR' 'URY' 'USA'
 'UZB' 'VCT' 'VEN' 'VGB' 'VIR' 'VNM' 'VUT' 'WSM' 'XKX' 'YEM' 'ZAF' 'ZMB'
 'ZWE' 'ARB' 'CSS' 'CEB' 'EAR' 'EAS' 'EAP' 'TEA' 'EMU' 'ECS' 'ECA' 'TEC'
 'EUU' 'FCS' 'HPC' 'HIC' 'IBD' 'IBT' 'IDB' 'IDX' 'IDA' 'LTE' 'LCN' 'LAC'
 'TLA' 'LDC' 'LMY' 'LIC' 'LMC' 'MEA' 'MNA' 'TMN' 'MIC' 'NAC' 'OED' 'OSS'
 'PSS' 'PST' 'PRE' 'SST' 'SAS' 'TSA' 'SSF' 'SSA' 'TSS' 'UMC' 'WLD']
--------------------------------------------------------------------------------
Unique values in column "Region"
--------------------------------------------------------------------------------
['South Asia' 'Sub-Saharan Africa' 'Europe & Central Asia'
 'Middle East & North Africa' 'Latin America & Caribbean'
 'East Asia & Pacific' 'North America' nan]
--------------------------------------------------------------------------------
Unique values in column "Income group"
--------------------------------------------------------------------------------
['Low income' 'Lower middle income' 'Upper middle income' 'High income'
 nan]
--------------------------------------------------------------------------------
Unique values in column "Lending category"
--------------------------------------------------------------------------------
['IDA' 'IBRD' nan 'Blend']
--------------------------------------------------------------------------------
Unique values in column "Other (EMU or HIPC)"
--------------------------------------------------------------------------------
['HIPC' nan 'EMU']

### Merging the two data

In [6]:
df_vax_class = df_vax.merge(df_class, on = "Code", how = "inner").drop(columns = ["Economy", "Lending category", "Other (EMU or HIPC)"])
df_vax_class.columns = ['Country', 'Code', 'Date', 'Vax_Rate', 'Index', 'Region', 'Income_group']

In [7]:
summarize_dataframe(df_vax_class)

--------------------------------------------------------------------------------
Dataset Summary
--------------------------------------------------------------------------------
           Vax_Rate         Index
count  41798.000000  41798.000000
mean      79.320283    103.594670
std       68.616715     60.177529
min        0.000000      1.000000
25%       14.812500     53.000000
50%       64.660000    100.000000
75%      131.907500    152.000000
max      352.440000    217.000000
--------------------------------------------------------------------------------
Null Values Count
--------------------------------------------------------------------------------
Country          0
Code             0
Date             0
Vax_Rate         0
Index            0
Region           0
Income_group    29
dtype: int64
--------------------------------------------------------------------------------
Unique values in column "Country"
--------------------------------------------------------------------------------
['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Angola'
 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Australia' 'Austria'
 'Azerbaijan' 'Bahamas' 'Bahrain' 'Bangladesh' 'Barbados' 'Belarus'
 'Belgium' 'Belize' 'Benin' 'Bermuda' 'Bhutan' 'Bolivia'
 'Bosnia and Herzegovina' 'Botswana' 'Brazil' 'British Virgin Islands'
 'Brunei' 'Bulgaria' 'Burkina Faso' 'Burundi' 'Cambodia' 'Cameroon'
 'Canada' 'Cape Verde' 'Cayman Islands' 'Central African Republic' 'Chad'
 'Chile' 'China' 'Colombia' 'Comoros' 'Congo' 'Costa Rica' "Cote d'Ivoire"
 'Croatia' 'Cuba' 'Curacao' 'Cyprus' 'Czechia'
 'Democratic Republic of Congo' 'Denmark' 'Djibouti' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'El Salvador' 'Equatorial Guinea'
 'Estonia' 'Eswatini' 'Ethiopia' 'Faeroe Islands' 'Fiji' 'Finland'
 'France' 'French Polynesia' 'Gabon' 'Gambia' 'Georgia' 'Germany' 'Ghana'
 'Gibraltar' 'Greece' 'Greenland' 'Grenada' 'Guatemala' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hong Kong' 'Hungary'
 'Iceland' 'India' 'Indonesia' 'Iran' 'Iraq' 'Ireland' 'Isle of Man'
 'Israel' 'Italy' 'Jamaica' 'Japan' 'Jordan' 'Kazakhstan' 'Kenya'
 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Laos' 'Latvia' 'Lebanon' 'Lesotho'
 'Liberia' 'Libya' 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macao'
 'Madagascar' 'Malawi' 'Malaysia' 'Maldives' 'Mali' 'Malta' 'Mauritania'
 'Mauritius' 'Mexico' 'Moldova' 'Monaco' 'Mongolia' 'Montenegro' 'Morocco'
 'Mozambique' 'Myanmar' 'Namibia' 'Nauru' 'Nepal' 'Netherlands'
 'New Caledonia' 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria'
 'North Macedonia' 'Norway' 'Oman' 'Pakistan' 'Palestine' 'Panama'
 'Papua New Guinea' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saint Kitts and Nevis' 'Saint Lucia'
 'Saint Vincent and the Grenadines' 'Samoa' 'San Marino'
 'Sao Tome and Principe' 'Saudi Arabia' 'Senegal' 'Serbia' 'Seychelles'
 'Sierra Leone' 'Singapore' 'Sint Maarten (Dutch part)' 'Slovakia'
 'Slovenia' 'Solomon Islands' 'Somalia' 'South Africa' 'South Korea'
 'South Sudan' 'Spain' 'Sri Lanka' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Syria' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Timor'
 'Togo' 'Tonga' 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'Tuvalu' 'Uganda' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan' 'Vanuatu' 'Venezuela' 'Vietnam' 'Yemen' 'Zambia' 'Zimbabwe']
--------------------------------------------------------------------------------
Unique values in column "Code"
--------------------------------------------------------------------------------
['AFG' 'ALB' 'DZA' 'AND' 'AGO' 'ATG' 'ARG' 'ARM' 'AUS' 'AUT' 'AZE' 'BHS'
 'BHR' 'BGD' 'BRB' 'BLR' 'BEL' 'BLZ' 'BEN' 'BMU' 'BTN' 'BOL' 'BIH' 'BWA'
 'BRA' 'VGB' 'BRN' 'BGR' 'BFA' 'BDI' 'KHM' 'CMR' 'CAN' 'CPV' 'CYM' 'CAF'
 'TCD' 'CHL' 'CHN' 'COL' 'COM' 'COG' 'CRI' 'CIV' 'HRV' 'CUB' 'CUW' 'CYP'
 'CZE' 'COD' 'DNK' 'DJI' 'DMA' 'DOM' 'ECU' 'EGY' 'SLV' 'GNQ' 'EST' 'SWZ'
 'ETH' 'FRO' 'FJI' 'FIN' 'FRA' 'PYF' 'GAB' 'GMB' 'GEO' 'DEU' 'GHA' 'GIB'
 'GRC' 'GRL' 'GRD' 'GTM' 'GIN' 'GNB' 'GUY' 'HTI' 'HND' 'HKG' 'HUN' 'ISL'
 'IND' 'IDN' 'IRN' 'IRQ' 'IRL' 'IMN' 'ISR' 'ITA' 'JAM' 'JPN' 'JOR' 'KAZ'
 'KEN' 'KIR' 'KWT' 'KGZ' 'LAO' 'LVA' 'LBN' 'LSO' 'LBR' 'LBY' 'LIE' 'LTU'
 'LUX' 'MAC' 'MDG' 'MWI' 'MYS' 'MDV' 'MLI' 'MLT' 'MRT' 'MUS' 'MEX' 'MDA'
 'MCO' 'MNG' 'MNE' 'MAR' 'MOZ' 'MMR' 'NAM' 'NRU' 'NPL' 'NLD' 'NCL' 'NZL'
 'NIC' 'NER' 'NGA' 'MKD' 'NOR' 'OMN' 'PAK' 'PSE' 'PAN' 'PNG' 'PRY' 'PER'
 'PHL' 'POL' 'PRT' 'QAT' 'ROU' 'RUS' 'RWA' 'KNA' 'LCA' 'VCT' 'WSM' 'SMR'
 'STP' 'SAU' 'SEN' 'SRB' 'SYC' 'SLE' 'SGP' 'SXM' 'SVK' 'SVN' 'SLB' 'SOM'
 'ZAF' 'KOR' 'SSD' 'ESP' 'LKA' 'SDN' 'SUR' 'SWE' 'CHE' 'SYR' 'TWN' 'TJK'
 'TZA' 'THA' 'TLS' 'TGO' 'TON' 'TTO' 'TUN' 'TUR' 'TKM' 'TCA' 'TUV' 'UGA'
 'UKR' 'ARE' 'GBR' 'USA' 'URY' 'UZB' 'VUT' 'VEN' 'VNM' 'YEM' 'ZMB' 'ZWE']
--------------------------------------------------------------------------------
Unique values in column "Date"
--------------------------------------------------------------------------------
['2021-02-22' '2021-02-28' '2021-03-16' '2021-04-07' '2021-04-22'
 '2021-05-11' '2021-05-20' '2021-05-24' '2021-05-26' '2021-05-27'
 '2021-05-30' '2021-06-02' '2021-06-03' '2021-06-08' '2021-06-14'
 '2021-06-22' '2021-06-27' '2021-06-30' '2021-07-05' '2021-07-07'
 '2021-07-11' '2021-07-14' '2021-07-18' '2021-07-24' '2021-08-20'
 '2021-08-31' '2021-09-30' '2021-11-14' '2021-12-27' '2022-01-09'
 '2022-01-11' '2022-01-13' '2022-01-17' '2022-01-19' '2022-01-24'
 '2022-01-26' '2022-01-27' '2022-01-31' '2022-02-02' '2022-02-07'
 '2022-02-14' '2022-02-20' '2022-02-27' '2022-03-06' '2022-03-17'
 '2022-03-22' '2022-04-04' '2021-01-10' '2021-01-12' '2021-01-13'
 '2021-01-14' '2021-01-15' '2021-01-16' '2021-01-17' '2021-01-18'
 '2021-01-19' '2021-01-20' '2021-01-21' '2021-02-02' '2021-02-09'
 '2021-02-17' '2021-02-18' '2021-02-19' '2021-02-25' '2021-03-01'
 '2021-03-03' '2021-03-10' '2021-03-12' '2021-03-17' '2021-03-22'
 '2021-03-23' '2021-03-24' '2021-03-25' '2021-03-26' '2021-03-27'
 '2021-03-28' '2021-03-30' '2021-03-31' '2021-04-01' '2021-04-02'
 '2021-04-03' '2021-04-04' '2021-04-05' '2021-04-06' '2021-04-08'
 '2021-04-09' '2021-04-10' '2021-04-12' '2021-04-13' '2021-04-15'
 '2021-04-16' '2021-04-17' '2021-04-18' '2021-04-19' '2021-04-20'
 '2021-04-21' '2021-04-23' '2021-04-24' '2021-04-26' '2021-04-27'
 '2021-04-28' '2021-04-29' '2021-04-30' '2021-05-01' '2021-05-03'
 '2021-05-04' '2021-05-05' '2021-05-06' '2021-05-07' '2021-05-08'
 '2021-05-09' '2021-05-10' '2021-05-12' '2021-05-13' '2021-05-14'
 '2021-05-17' '2021-05-18' '2021-05-19' '2021-05-21' '2021-05-23'
 '2021-05-31' '2021-06-01' '2021-06-06' '2021-06-07' '2021-06-09'
 '2021-06-10' '2021-06-11' '2021-06-12' '2021-06-13' '2021-06-15'
 '2021-06-16' '2021-06-17' '2021-06-20' '2021-06-21' '2021-06-23'
 '2021-06-24' '2021-06-28' '2021-06-29' '2021-07-01' '2021-07-02'
 '2021-07-04' '2021-07-06' '2021-07-08' '2021-07-09' '2021-07-10'
 '2021-07-12' '2021-07-13' '2021-07-15' '2021-07-16' '2021-07-17'
 '2021-07-20' '2021-07-21' '2021-07-22' '2021-07-25' '2021-07-29'
 '2021-07-30' '2021-07-31' '2021-08-01' '2021-08-02' '2021-08-03'
 '2021-08-04' '2021-08-05' '2021-08-08' '2021-08-10' '2021-08-13'
 '2021-08-15' '2021-08-16' '2021-08-17' '2021-08-19' '2021-08-21'
 '2021-08-22' '2021-08-23' '2021-08-24' '2021-08-25' '2021-08-26'
 '2021-08-27' '2021-08-29' '2021-08-30' '2021-09-01' '2021-09-02'
 '2021-09-06' '2021-09-07' '2021-09-08' '2021-09-09' '2021-09-10'
 '2021-09-11' '2021-09-12' '2021-09-13' '2021-09-14' '2021-09-15'
 '2021-09-16' '2021-09-17' '2021-09-19' '2021-09-20' '2021-09-21'
 '2021-09-22' '2021-09-23' '2021-09-24' '2021-09-27' '2021-09-28'
 '2021-09-29' '2021-10-01' '2021-10-02' '2021-10-04' '2021-10-05'
 '2021-10-06' '2021-10-07' '2021-10-08' '2021-10-09' '2021-10-11'
 '2021-10-12' '2021-10-13' '2021-10-17' '2021-10-18' '2021-10-19'
 '2021-10-20' '2021-10-21' '2021-10-22' '2021-10-24' '2021-10-25'
 '2021-10-27' '2021-10-28' '2021-10-29' '2021-11-01' '2021-11-03'
 '2021-11-06' '2021-11-07' '2021-11-09' '2021-11-10' '2021-11-11'
 '2021-11-16' '2021-11-17' '2021-11-18' '2021-11-21' '2021-11-24'
 '2021-11-25' '2021-11-28' '2021-11-30' '2021-12-01' '2021-12-03'
 '2021-12-05' '2021-12-06' '2021-12-07' '2021-12-08' '2021-12-12'
 '2021-12-13' '2021-12-14' '2021-12-15' '2021-12-18' '2021-12-21'
 '2021-12-23' '2021-12-28' '2022-01-04' '2022-01-05' '2022-01-08'
 '2022-01-10' '2022-01-30' '2022-02-01' '2022-02-06' '2022-02-13'
 '2022-02-15' '2022-02-16' '2022-03-01' '2022-03-07' '2022-03-10'
 '2022-03-14' '2022-03-15' '2022-03-24' '2022-03-29' '2022-03-31'
 '2022-04-07' '2021-01-29' '2021-01-30' '2021-09-04' '2021-09-25'
 '2021-10-30' '2021-11-02' '2021-11-08' '2021-11-13' '2021-11-22'
 '2021-11-29' '2022-02-08' '2022-03-09' '2021-01-25' '2021-02-01'
 '2021-02-10' '2021-02-12' '2021-02-24' '2021-02-26' '2021-03-08'
 '2021-03-15' '2021-03-19' '2021-04-11' '2021-07-19' '2021-09-26'
 '2021-10-03' '2021-10-31' '2021-12-26' '2022-01-16' '2022-01-23'
 '2022-03-13' '2022-03-27' '2021-03-18' '2021-03-29' '2021-08-09'
 '2021-10-14' '2021-10-26' '2021-12-02' '2021-12-09' '2021-12-30'
 '2022-01-06' '2022-01-12' '2022-01-14' '2022-01-28' '2022-02-09'
 '2022-02-22' '2022-03-02' '2022-03-08' '2022-03-25' '2021-02-16'
 '2021-04-14' '2021-05-25' '2021-05-29' '2021-07-28' '2021-08-07'
 '2021-08-14' '2021-08-28' '2021-10-16' '2021-10-23' '2021-11-05'
 '2021-11-23' '2021-11-26' '2021-12-10' '2021-12-19' '2021-12-25'
 '2021-12-29' '2022-02-05' '2022-02-17' '2022-02-28' '2020-12-29'
 '2020-12-30' '2020-12-31' '2021-01-01' '2021-01-02' '2021-01-03'
 '2021-01-04' '2021-01-05' '2021-01-06' '2021-01-07' '2021-01-08'
 '2021-01-09' '2021-01-11' '2021-01-22' '2021-01-23' '2021-01-24'
 '2021-01-26' '2021-01-27' '2021-01-28' '2021-01-31' '2021-02-03'
 '2021-02-04' '2021-02-05' '2021-02-06' '2021-02-07' '2021-02-08'
 '2021-02-11' '2021-02-13' '2021-02-14' '2021-02-15' '2021-02-20'
 '2021-02-21' '2021-02-23' '2021-02-27' '2021-03-02' '2021-03-04'
 '2021-03-05' '2021-03-06' '2021-03-07' '2021-03-09' '2021-03-11'
 '2021-03-13' '2021-03-14' '2021-03-20' '2021-03-21' '2021-04-25'
 '2021-05-02' '2021-05-15' '2021-05-16' '2021-05-22' '2021-05-28'
 '2021-06-04' '2021-06-05' '2021-06-18' '2021-06-19' '2021-06-25'
 '2021-06-26' '2021-07-03' '2021-07-23' '2021-07-26' '2021-07-27'
 '2021-08-06' '2021-08-11' '2021-08-12' '2021-08-18' '2021-09-03'
 '2021-09-05' '2021-09-18' '2021-10-10' '2021-10-15' '2021-11-04'
 '2021-11-12' '2021-11-15' '2021-11-19' '2021-11-20' '2021-11-27'
 '2021-12-04' '2021-12-11' '2021-12-16' '2021-12-17' '2021-12-20'
 '2021-12-22' '2021-12-24' '2021-12-31' '2022-01-01' '2022-01-02'
 '2022-01-03' '2022-01-07' '2022-01-15' '2022-01-18' '2022-01-20'
 '2022-01-21' '2022-01-22' '2022-01-25' '2022-01-29' '2022-02-03'
 '2022-02-04' '2022-02-10' '2022-02-11' '2022-02-12' '2022-02-18'
 '2022-02-19' '2022-02-21' '2022-02-23' '2022-02-24' '2022-02-25'
 '2022-02-26' '2022-03-03' '2022-03-04' '2022-03-05' '2022-03-11'
 '2022-03-12' '2022-03-16' '2022-03-18' '2022-03-19' '2022-03-20'
 '2022-03-21' '2022-03-23' '2022-03-26' '2022-03-28' '2022-03-30'
 '2022-04-01' '2022-04-02' '2022-04-03' '2022-04-05' '2022-04-06'
 '2022-04-08' '2022-04-09' '2022-04-10' '2020-12-23' '2020-12-24'
 '2020-12-25' '2020-12-26' '2020-12-27' '2020-12-28' '2020-12-14'
 '2020-12-15' '2020-12-16' '2020-12-17' '2020-12-18' '2020-12-19'
 '2020-12-20' '2020-12-21' '2020-12-22' '2020-12-08' '2020-12-11'
 '2020-12-04' '2020-12-07' '2020-12-09' '2020-12-02' '2020-12-03'
 '2020-12-05' '2020-12-06' '2020-12-10' '2020-12-12' '2020-12-13']
--------------------------------------------------------------------------------
Unique values in column "Vax_Rate"
--------------------------------------------------------------------------------
[0.000e+00 2.000e-02 1.400e-01 ... 6.498e+01 6.550e+01 6.643e+01]
--------------------------------------------------------------------------------
Unique values in column "Index"
--------------------------------------------------------------------------------
[  1   3  55   4   2   9   6   7  10  11  12  20  19  17  27  22  14  23
  15  24  29  25  21  30  26 208  28  18  16  13 102  38  32  43  47  31
 188  35  36  41  42  40  44  37  84  45  46  48  49  39  53  51  52  54
  56  57 173  75  60 183  61  65  63  62  64 162  67  73  69  50  70  71
  76  78  77  79  72  74  81  85  83  82  86  93  89  87  91  92  90  88
  94  95  96  98  97  99 100 103 106 101 107 117 108 114 109 110 112 115
 116 118 123 137 138 124 128 129 135 136 125 122 121 132 131 120 134 130
 139 147 146 144 140 148 143 141 142 127 145 149 150 161 151 155 160 152
 153 156 159 163 164 165 166 104 111 206 212 174 178 167 169 176 185 172
 170 184 180 181 171 175 215 105 177  59 113 168 179 182  33 186 199 191
 200 190 193 189 194 195 196 197 192 187 198 201 202   5  68 204 203 205
 211 207 210 214 216 217]
--------------------------------------------------------------------------------
Unique values in column "Region"
--------------------------------------------------------------------------------
['South Asia' 'Europe & Central Asia' 'Middle East & North Africa'
 'Sub-Saharan Africa' 'Latin America & Caribbean' 'East Asia & Pacific'
 'North America']
--------------------------------------------------------------------------------
Unique values in column "Income_group"
--------------------------------------------------------------------------------
['Low income' 'Upper middle income' 'Lower middle income' 'High income'
 nan]

## Group by Month

In [8]:
# obtain the country codes in the table
country_code = df_vax_class["Code"].unique()

In [9]:
# Convert the "Date" column to datetime format
df_vax_class['Date'] = pd.to_datetime(df_vax_class['Date'])

In [10]:
# create the empty data frame for the new monthly vaccination rate table
df_vax_month = pd.DataFrame()

For some reasons, if I just obtain the data for the last date of each month, the months that only contain 1 data are deleted. Therefore I re-grouped the data to obtain the last 2 dates of each month.

The code will loop each country's data and obtain the last two rows of each month.

In [11]:
for code in country_code:
    data = df_vax_class[df_vax_class["Code"].str.contains(code)]
    data = data.groupby(data["Date"].dt.month, group_keys="Code").tail(2)
    
    # Change the date time format to "yyyy=mm"
    data['Date'] = data['Date'].dt.strftime('%Y-%m') 
    df_vax_month = pd.concat([df_vax_month, data])

In [12]:
# Obtain all the year-month value in the table
vax_date = df_vax_month.Date.unique()
df_vax_month = df_vax_month.sort_values(by='Date')

In [13]:
# Save the new merged data
df_vax_month.to_csv('Cov-Vax-Income-Monthly.csv', sep = ";")

## Revamping the Data
After reinspecting the data, turns out our World in Data only show the reported covid-19 vaccination rate for each month, instead of continuously retaining the data. Therefore, I have to revamp the data so table still keeps the last data from previous month during the months the country does not report their data.

In [14]:
# Load OWiD vaccine rate data
df_vax_month = pd.read_csv('Cov-Vax-Income-Monthly.csv', sep = ";")

In [15]:
# obtain the country codes in the table
country_code = df_vax_month["Code"].unique()

# Obtain all the year-month value in the table
vax_date = df_vax_month.Date.unique()

In [16]:
# New dataframe for the revamped data
df_cont_monthly_vax = pd.DataFrame()

Now, the code will loop the data from each country and recreate a table starting from the first month they reported their latest vaccination rate until April 2022.

In [17]:
for code in country_code:
    # New dataframe to retain the latest vaccination rate data of each country
    previous_mth = pd.DataFrame()

    # Each looped country dataframe
    current_row = df_vax_month[df_vax_month["Code"].str.contains(code)]

    for mth in vax_date:
        # The year-month of each looped "Date" dataframe
        current_mth = current_row[current_row["Date"].str.contains(mth)]

        # If current month contains empty data, then the current month is filled with previous month's data
        if current_mth["Vax_Rate"].empty:
            previous_mth["Date"] = mth
            df_cont_monthly_vax = pd.concat([df_cont_monthly_vax, previous_mth])

        # Otherwise, continue adding the data
        else:
            df_cont_monthly_vax = pd.concat([df_cont_monthly_vax, current_mth])

        previous_mth = current_mth.copy()

Since when the data was grouped by the last two data from each month, so there are duplicates for each month data in the table. Therefore, the duplicate needs to be eliminated by retaining only the last data from each month, then sort it by date for further analysis and visualization.

In [18]:
df_cont_monthly_vax.drop_duplicates(subset=['Code', 'Date'], keep='last', inplace = True, ignore_index = True)
df_cont_monthly_vax = df_cont_monthly_vax.sort_values(by='Date').reset_index()

In [19]:
# Checking if the data seems ok
df_cont_monthly_vax.groupby("Date").describe()

         index                                                          \
         count         mean         std   min     25%     50%      75%
Date
2020-12    1.0     0.000000         NaN   0.0    0.00     0.0     0.00
2021-01    6.0    33.666667   24.929233   1.0   16.75    33.5    49.50
2021-02    8.0    48.125000   32.817406   2.0   25.25    47.0    72.25
2021-03   14.0   132.000000   61.905635   3.0   97.00   134.5   177.50
2021-04   93.0   646.204301  350.147781   4.0  353.00   648.0   944.00
2021-05  195.0  1253.297436  699.327721   5.0  655.50  1274.0  1853.00
2021-06  199.0  1278.582915  712.796982   6.0  669.00  1296.0  1890.00
2021-07  200.0  1285.635000  716.136804   7.0  673.00  1303.0  1900.00
2021-08  200.0  1278.050000  725.967895   8.0  648.75  1304.0  1901.00
2021-09  202.0  1281.569307  727.961919   9.0  656.00  1305.0  1908.00
2021-10  202.0  1293.866337  730.166060  10.0  669.25  1318.0  1921.00
2021-11  200.0  1308.285000  722.695529  22.0  689.75  1331.0  1928.00
2021-12  200.0  1303.545000  728.431390  11.0  677.75  1332.0  1929.00
2022-01  200.0  1307.680000  724.931851  12.0  691.75  1333.0  1930.00
2022-02  200.0  1305.570000  726.119081  25.0  679.75  1334.0  1931.00
2022-03  200.0  1312.500000  720.999634  26.0  693.75  1335.0  1932.00
2022-04  196.0  1336.816327  709.339409  27.0  733.75  1360.0  1945.00

                Unnamed: 0                ...  Vax_Rate          Index  \
            max      count          mean  ...       75%     max  count
Date                                      ...
2020-12     0.0        1.0  25614.000000  ...    0.0000    0.00    1.0
2021-01    68.0        6.0  23183.333333  ...    4.5975   31.20    6.0
2021-02    95.0        8.0  22717.000000  ...    2.1550   31.20    8.0
2021-03   222.0       14.0  21339.642857  ...   14.3775   74.53   14.0
2021-04  1237.0       93.0  21763.494624  ...   23.1000  126.92   93.0
2021-05  2434.0      195.0  20843.287179  ...   51.9650  229.23  195.0
2021-06  2479.0      199.0  20806.723618  ...   74.7900  231.78  199.0
2021-07  2490.0      200.0  20796.120000  ...   96.0175  232.88  200.0
2021-08  2500.0      200.0  20885.400000  ...  110.7775  233.93  200.0
2021-09  2501.0      202.0  20889.123762  ...  122.5400  236.17  202.0
2021-10  2509.0      202.0  20804.277228  ...  131.0300  264.37  202.0
2021-11  2510.0      200.0  20756.660000  ...  141.5300  289.69  200.0
2021-12  2511.0      200.0  20706.885000  ...  157.6525  321.00  200.0
2022-01  2512.0      200.0  20692.735000  ...  169.9275  329.76  200.0
2022-02  2513.0      200.0  20683.285000  ...  183.5525  335.33  200.0
2022-03  2514.0      200.0  20782.970000  ...  195.7950  348.27  200.0
2022-04  2515.0      196.0  20738.663265  ...  196.1425  352.44  196.0


               mean        std    min     25%    50%     75%    max
Date
2020-12  121.000000        NaN  121.0  121.00  121.0  121.00  121.0
2021-01  128.500000  52.633639   55.0   95.50  128.5  172.75  187.0
2021-02  123.000000  64.584386   21.0   79.00  128.5  185.50  192.0
2021-03  108.214286  55.109930   21.0   68.25  109.0  136.75  202.0
2021-04  113.053763  61.304544    1.0   61.00  121.0  168.00  210.0
2021-05  108.076923  62.115035    1.0   53.50  108.0  162.50  217.0
2021-06  108.507538  62.520855    1.0   53.50  108.0  163.50  217.0
2021-07  108.390000  62.385718    1.0   53.75  107.5  163.25  217.0
2021-08  109.035000  63.084005    1.0   53.75  107.5  165.25  217.0
2021-09  108.990099  62.798104    1.0   54.25  107.5  164.75  217.0
2021-10  108.341584  63.101412    1.0   53.25  107.5  164.75  217.0
2021-11  108.135000  63.002327    1.0   53.75  106.5  164.25  217.0
2021-12  107.750000  62.684882    1.0   53.75  106.5  163.25  217.0
2022-01  107.655000  62.380869    1.0   53.75  106.5  162.25  217.0
2022-02  107.590000  62.868147    1.0   52.75  105.5  163.25  217.0
2022-03  108.030000  62.566299    1.0   53.75  106.5  163.25  217.0
2022-04  108.096939  62.621826    1.0   53.75  107.5  163.25  217.0

[17 rows x 32 columns]

#### Saving the new revamped data to be further cleaned and analyzed

In [20]:
df_cont_monthly_vax.to_csv('Cov-Vax-Income-Monthly_Continuous.csv', sep = ",", index = False)

#### Troubleshoot
Check if all dates are saved correctly

In [35]:
# Load continious monthly vaccine rate data
df_cont_monthly_vax = pd.read_csv('Cov-Vax-Income-Monthly_Continuous.csv', sep = ",")

In [36]:
# Checking for the remaining missing data to be further cleaned
missing_dates = []

for code in country_code:
    current_row = df_cont_monthly_vax[df_cont_monthly_vax["Code"].str.contains(code)]
    current_country_date_list = [new_date for new_date in current_row["Date"]]
    for date in vax_date:
        current_row = current_row[current_row["Date"].str.contains(date)]
        
        if date not in current_country_date_list:
            if date > df_vax_month[df_vax_month["Code"].str.contains(code)].values[0][3]:
                print(code, date)
                if code not in missing_dates:
                    missing_dates.append(code)
                
print(missing_dates)

[]